<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>NRI Sensing Rig Control Panel</title>

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="/css/jsxgraph.css" rel="stylesheet">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jsxgraphcore.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <style>
            .frame { width: 90% }
        </style>
    </head>
    <body>
        <script type="text/javascript">
            window.socket = new WebSocket("ws://{{server}}", "rust-websocket");
        </script>
        <script type="text/javascript" src="/js/main.js"></script>

        <div class="container theme-showcase" role="main">
            <div class="jumbotron" style="padding-left: 2em">
                <h1>Control Panel</h1>

                <div>
                    <form id="poweroff"
                          action="/nuc/poweroff"
                          method="POST"
                          target="response"
                          style="display: inline">

                        <input type="hidden"
                               name="wsid"
                               class="wsid"
                               value="-1"/>
                        <button onclick="confirm('NUC will shut down!',
                                                 function () {
                                                    $('#poweroff').submit();
                                                 });
                                                 return false"
                                class="btn btn-danger">
                            Shut down
                        </button>

                    </form>

                    <form id="reboot"
                          action="/nuc/reboot"
                          method="POST"
                          target="response"
                          style="display: inline">

                        <input type="hidden"
                               name="wsid"
                               class="wsid"
                               value="-1"/>
                        <button onclick="confirm('NUC will reboot!',
                                                 function () {
                                                    $('#reboot').submit();
                                                 });
                                                 return false"
                                class="btn btn-danger">
                            Reboot
                        </button>

                    </form>

                    <form id="wifi"
                          action="/nuc/wifi"
                          method="POST"
                          target="response"
                          style="display: inline">

                        <input type="hidden"
                               name="wsid"
                               class="wsid"
                               value="-1"/>
                        <button onclick="confirm('NUC will reboot!',
                                                 function () {
                                                    $('#wifi').submit();
                                                 });
                                                 return false"
                                class="btn btn-danger">
                            Switch wifi
                        </button>

                    </form>
                </div>
            </div>

            <div class="page-header">
                <form method="POST"
                      target="response">
                    <input type="hidden"
                           name="wsid"
                           class="wsid"
                           value="-1"/>
                    <button onclick="window.start_demo(); return false;"
                            name="start_demo"
                            id="start-demo"
                            class="btn btn-success">Start Demo</button>
                    <button onclick="window.stop_demo(); return false;"
                            name="stop_demo"
                            id="stop-demo"
                            class="btn btn-danger">Stop Demo</button>
                </form>
            </div>

            <div class="page-header">
                <form method="POST"
                      target="response">
                    <input type="hidden"
                           name="wsid"
                           class="wsid"
                           value="-1"/>
                    <div id="flows">
                        {{> flows}}
                    </div>
                </form>
            </div>

            <div class="page-header" style="padding-left: 2em; padding-bottom: 5em">
                <h2>All Sensors</h2>
                <form method="POST"
                      target="response">
                    <input type="hidden"
                           name="wsid"
                           class="wsid"
                           value="-1"/>
                    {{#each services}}
                        <div class="container">
                            <h3>{{name}}</h3>
                            {{{extra}}}
                            <p>
                            <button formaction="/control/{{shortname}}/start"
                                    type="submit"
                                    id="start_{{shortname}}"
                                    class="btn btn-success">Start</button>
                            <button formaction="/control/{{shortname}}/stop"
                                    type="submit"
                                    id="stop_{{shortname}}"
                                    class="btn btn-danger">Stop</button>
                            <button formaction="/control/{{shortname}}/kick"
                                    type="submit"
                                    id="kick_{{shortname}}"
                                    class="btn btn-warning">Frame</button>
                        </div>
                    {{/each}}
                </form>
            </div>
        </div>
        <div style="position: fixed;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    padding-left: 1em;
                    padding-right 1em;
                    background: white;
                    border-top: 1px solid black">
            <div style="float: right;
                        padding: 0.5em">
                <table style="border-spacing: 0.5em;
                              table-layout: fixed">
                    <tr>
                        <td id="datadir" style="font-size: x-small; padding-right: 0.5em" onclick="set_datadir()"></td>
                        <td id="diskfree" style="padding-right: 0.5em"></td>
                        <td id="timer" style="padding-right: 0.5em" onclick="start_timer()"></td>
                        {{#each services}}
                            <td id="light-{{shortname}}" style="font-family: monospace;
                                                                max-width: 1.99em;
                                                                height: 1em;
                                                                padding: 0.2em;
                                                                overflow: hidden;
                                                                white-space: nowrap;
                                                                text-transform: uppercase;
                                                                color: white;
                                                                background-color: red">
                                {{shortname}}
                            </td>
                        {{/each}}
                    </tr>
                </table>
            </div>
            <iframe name="response" id="response" onload="schedule();" style="width: 95%; height: 2.5em"></iframe>
        </div>
        <div class="modal fade" id="alert">
            <div class"modal-dialog" style="position: fixed;
                                            top: 25%;
                                            left: 10%;
                                            width: 80%;
                                            background: white;
                                            border: 1px solid black">
                <div class="modal-content">
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary" data-dismiss="modal" id="ok">OK</a>
                        <a href="#" class="btn btn-primary" data-dismiss="modal" id="cancel">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirm">
            <div class"modal-dialog" style="position: fixed;
                                            top: 25%;
                                            left: 10%;
                                            width: 80%;
                                            background: white;
                                            border: 1px solid black">
                <div class="modal-content">
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary" data-dismiss="modal" id="yes">Yes</a>
                        <a href="#" class="btn btn-primary" data-dismiss="modal" id="no">No</a>
                        <a href="#" class="btn btn-primary" data-dismiss="modal" id="cancel">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="prompt">
            <div class"modal-dialog" style="position: fixed;
                                            top: 25%;
                                            left: 10%;
                                            width: 80%;
                                            background: white;
                                            border: 1px solid black">
                <div class="modal-content">
                    <div class="modal-body">
                        <div id="text"></div>
                        <form>
                            <input type="text" id="input" autofocus />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary" data-dismiss="modal" id="ok">OK</a>
                        <a href="#" class="btn btn-primary" data-dismiss="modal" id="cancel">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="bluefox-settings">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form>
                            <table style="margin: 0 auto">
                            </table>
                        </form>
                    </div>
                    <div class="modal-footer" style="text-align: center">
                        <a href="#" class="btn btn-primary" data-dismiss="modal" id="ok" onclick="set_bluefox_settings();">Set</a>
                        <a href="#" class="btn btn-primary" data-dismiss="modal" id="cancel">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="demo" style="position: fixed;
                              top: 10%;
                              left: 10%;
                              width: 80%;
                              height: 75%;
                              background: white;
                              border: 1px solid black;
                              text-align: center;
                              display: none">
            <h1>Proton Pack Demo</h1>
            <div style="position: relative;
                        margin-left: auto; margin-right: auto;
                        top: 5%;
                        width: 90%;
                        height: 40%">
                <div id="teensy-cell" style="position: relative;
                                             top: 5%;
                                             left: 7%;
                                             width: 40%;
                                             height: 90%">
                </div>
                <div id="optoforce-cell" style="position: relative;
                                                top: -85%;
                                                left: 53%;
                                                width: 40%;
                                                height: 90%">
                </div>
                <div id="biotac-cell" style="position: relative;
                                             top: -170%;
                                             left: 53%;
                                             width: 40%;
                                             height: 90%">
                </div>
            </div>
            <div style="position: relative;
                        margin-left: auto; margin-right: auto;
                        top: 5%;
                        width: 90%;
                        height: 40%">
                <div id="bluefox-cell" style="position: relative;
                                              top: 5%;
                                              left: 7%;
                                              width: 40%;
                                              height: 90%">
                </div>
                <div id="structure-cell" style="position: relative;
                                                top: -85%;
                                                left: 53%;
                                                width: 40%;
                                                height: 90%">
                </div>
            </div>
        </div>
    </body>
</html>

