<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>NRI Sensing Rig Control Panel</title>

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    </head>
    <body>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            window.socket = new WebSocket("ws://{{server}}", "rust-websocket");
            window.socket.onmessage = function (event) {
                console.log(event.data);
                words = event.data.split(' ');
                switch (words[0]) {
                    case "kick":
                        $("." + words[1] + ".framenum").each(function () { this.innerHTML = words[2]; });
                        $("." + words[1] + ".latest")  .each(function () { this.src       = words[3]; });
                }
            };
            window.socket.onopen = function (event) {
                console.log("Server connection ready!");
            };
            window.socket.onclose = function (event) {
                console.log("Server connection lost!");
            };
            window.socket.onerror = function (event) {
                console.log("Server connection error!");
            };
        </script>

        <div class="container theme-showcase" role="main">
            <div class="jumbotron">
                <h1>Control Panel</h1>
            </div>

            <div class="page-header">
                <h2>All Services</h2>
                <form method="POST" target="response">
                    {{#each services}}
                        <div class="container">
                            <h3>{{name}}</h3>
                            {{{extra}}}
                            <p>
                            <button formaction="/control/{{shortname}}/start"
                                    type="submit"
                                    class="btn btn-success">Start</button>
                            <button formaction="/control/{{shortname}}/stop"
                                    type="submit"
                                    class="btn btn-danger">Stop</button>
                            <button formaction="/control/{{shortname}}/kick"
                                    type="submit"
                                    class="btn btn-warning">Kick</button>
                        </div>
                    {{/each}}
                </form>
            </div>
            <div class="page-header">
                <h2>Server Response</h2>
                <iframe name="response"></iframe>
            </div>
        </div>
    </body>
</html>

